stages:
  - build
  - deploy

# 1. Build Node Backend for Render
build_backend:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/backend:latest ./backend
    - docker push $CI_REGISTRY_IMAGE/backend:latest

# 2. Deploy Node Backend to Render
deploy_backend:
  stage: deploy
  image: curlimages/curl:latest
  script:
    - curl -X POST $RENDER_DEPLOY_HOOK

# 3. Deploy AI Engine to Hugging Face
deploy_ai_to_hf:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache git
  script:
    - git config --global user.email "tejas@example.com"
    - git config --global user.name "hossie449"
    # FIXED: Just your username and your token. No extra text!
    - git remote add hf https://hossie449:$HF_TOKEN@huggingface.co/spaces/hossie449/medilens
    - git push --force hf HEAD:main
  only:
    - main