stages:
  - build
  - deploy

build_backend:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/backend:latest ./backend
    - docker push $CI_REGISTRY_IMAGE/backend:latest

deploy_ai_to_hf:
  stage: deploy
  image: curlimages/curl:latest
  script:
    - echo "Force-triggering Hugging Face Factory Rebuild..."
    
    - |
      curl -X POST https://huggingface.co/api/spaces/hossie449/medilens/restart \
      -H "Authorization: Bearer $HF_TOKEN" \
     
  only:
    - main